*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.head{
	width: 100%;
	height: 100px;
/* 	background: pink; */
	position: relative;
}
.headzuo{
	width: 164px;
	height: 100px;
	position: absolute;
	left: 187px;
}
.liebiao{
	width: 506px;
	height: 100px;
/* 	background: red; */
	position: absolute;
	right: 215px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.liebiao li{
	font-size: 14px;
	color: #000;
}
.liebiao a:nth-child(4) li{
	color: #00a8ee;
}
.liebiao li:hover{
	color: #00a8ee;
}
.datu{
	width: 100%;
	height: 725px;
	background: pink;
}
.datu img{
	width: 100%;
	height: 725px;
}
/* 背景介绍 */
.xwjs{
	width: 1518px;
	height: 210px;
/* 	background: pink; */
	border-bottom: 1px solid #bcb9b9;
	overflow: hidden;
	transition:all 1s;
}
.xwjs:hover{
	box-shadow:0 0 10px 5px rgba(0,0,0,0.5);
}
.xwjs:hover .wxjsl{
	transform: scale(1.1);
}
.xwjs:hover .wxjsr{
	transform: scale(1.1);
}
.wxjsl{
	width: 466px;
	height: 160px;
/* 	background: red; */
	float: left;
	margin-top: 50px;
	font-size: 36px;
	color: #00a8ee;
	text-align: center;
	transition:all 1s;
}
.wxjsr{
	width: 1052px;
	height: 160px;
	float: right;
/* 	background: green; */
	margin-top: 50px;
	transition:all 1s;
}
.hlgb{
	font-size: 24px;
	color:#000;
}
.hlgb:hover{
	color:#00a8ee;
}
.xwrq{
	width: 114px;
	font-size: 16px;
	border-bottom: 3px solid #00a8ee;
	color: #000;
}
.wxjsr p{
	color: #bcb9b9;
}
/* 底部 */
.foot{
	width: 100%;
	height: 37px;
/* 	background: red; */
	margin-top: 168px;
}
.footneikuan{
	width: 447px;
	height: 37px;
/* 	background: yellow; */
	margin: 0 auto;
	position: relative;
}
.dihl{
	width: 140px;
	height: 37px;

}
.xian{
	width:1px;
	height: 37px;
	background: #00a0e9;
	position: absolute;
	left: 140px;
	top: 0;
}
.shanghai{
	font-size: 12px;
	color: #9b9c9c;
	position: absolute;
	top: 3px;
	left: 161px;
}
.beian{
	font-size: 12px;
	color: #9b9c9c;
	position: absolute;
	left: 161px;
	top: 21px;
}
/* 底部填充 */
.zuidi{
	width: 100%;
	height: 58px;
	background: #fff;
}